<div class="invisible-close-box" (click)="closeUi()"></div>
<div class="modal-overlay fade-in" (click)="closeUi()" [@fadeOut]="visibilityState">
  <div class="slide-in" [@slideOut]="visibilityState">
    <div class="container" (click)="$event.stopPropagation();">
      <mat-card>
        <div class="private-icon-container" *ngIf="!data.isPublic">
          <i class="private-icon material-icons">lock_outline</i>
        </div>
        <div class="image-sizing-container">
          <div *ngIf="!readOnly" class="upload-image-overlay center-content-horizontally center-content-vertically transparent-background clickable" (click)="hiddenFileInput.click()">
            <i class="upload-icon material-icons">add_a_photo</i>
            <input type="file" hidden (change)="fileChanged($event)" #hiddenFileInput>
          </div>
          <app-image [files]="data.files"></app-image>
        </div>
        <span *ngIf="isRoute" class="distance-icon-container center-content-vertically" matTooltip="distance" matTooltipPosition="below"><i class="distance-icon material-icons">map</i>{{ Math.round(data.distance / 10) / 100 }}km</span>
        <button *ngIf="!isRoute && !readOnly" mat-fab class="create-poi-button" color="accent" (click)="saveObject()"><mat-icon>done</mat-icon></button>
        <button *ngIf="!isRoute && !readOnly" mat-fab class="cancel-create-poi-button" color="accent" (click)="closeUi()"><mat-icon>close</mat-icon></button>
        <div class="info-container" [ngClass]="{'transparent-background': readOnly, 'primary-background': !readOnly}">
          <div class="row middle-xs full-height">
            <div class="info-col" [ngClass]="{'col-xs-6': isRoute, 'col-xs-12': !isRoute}" *ngIf="readOnly">
              <app-star-rating matTooltip="average rating" matTooltipPosition="below" [rating]="data.ratingAggregation && data.ratingAggregation.avg || 0"></app-star-rating>
            </div>
            <div class="col-xs-6 info-col" *ngIf="isRoute">
              <span class="difficulty-indicator-container" matTooltip="difficulty" matTooltipPosition="below">
                <div *ngIf="readOnly" class="click-blocker"></div>
                <span><mat-slider class="difficulty-indicator cdk-focused" min="0" max="5" step="1" thumbLabel [(ngModel)]="data.difficulty"></mat-slider></span>
              </span>
            </div>
            <div class="col-xs-6 info-col" *ngIf="!readOnly && isRoute">
              <mat-slide-toggle color="accent" [(ngModel)]="data.isPublic" matTooltip="Should your route be public?" matTooltipPosition="below"></mat-slide-toggle>
            </div>
          </div>
        </div>
        <mat-card-content>
          <div class="write-description-container" *ngIf="!readOnly">
            <mat-form-field class="full-width">
              <input matInput placeholder="Name" [readonly]="readOnly" [(ngModel)]="data.name" />
            </mat-form-field>
            <mat-form-field class="full-width">
              <textarea matInput placeholder="Description" matTextareaAutosize matAutosizeMinRows="2" [(ngModel)]="data.description"></textarea>
            </mat-form-field>
          </div>
          <div *ngIf="readOnly">
            <h2>{{ data.name }}</h2>
            <p>{{ data.description }}</p>
          </div>
          <div *ngIf="isRoute && readOnly">
            <mat-chip-list>
              <mat-chip *ngFor="let tag of data.tags" class="tag">{{ tag }}</mat-chip>
            </mat-chip-list>
          </div>
          <div *ngIf="isRoute && !readOnly">
            <mat-form-field class="full-width">
              <mat-chip-list #chipList>
                <mat-chip class="tag" *ngFor="let tag of data.tags; index as i" removable (remove)="data.tags.splice(i, 1)" selectable="false">
                  {{tag}}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
                <input placeholder="Add tags..."
                       [matChipInputFor]="chipList"
                       [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                       matChipInputAddOnBlur
                       (matChipInputTokenEnd)="addTag($event)" />
              </mat-chip-list>
            </mat-form-field>
          </div>
        </mat-card-content>
      </mat-card>
      <ng-template [ngIf]="userDataService.currentUserData && dataFirestoreReference">
        <mat-card class="slide-in comment-card">
          <mat-card-content>
            <div class="row">
              <div class="col-xs-1 center-content-horizontally"><div class="profile-image-icon primary-background center-content-horizontally center-content-vertically">{{ userDataService.currentUserData.userSignature.username[0].toUpperCase() }}</div></div>
              <div class="col-xs-11">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="row middle-xs username-row">
                      <div class="col-xs-8"><h2>{{ userDataService.currentUserData.userSignature.username }}</h2></div>
                      <div class="col-xs-4"><app-star-rating class="pull-right" [readOnly]="false" [rating]="ratingToCreate.rating" (ratingUpdated)="ratingToCreate.rating = $event"></app-star-rating></div></div>
                  </div>
                  <div class="col-xs-12">
                    <mat-form-field class="full-width">
                      <input matInput placeholder="Leave a comment..." [(ngModel)]="ratingToCreate.comment">
                    </mat-form-field>
                  </div>
                  <div class="col-xs-6">
                    <button mat-button class="full-width" color="primary" (click)="resetRatingToCreate()">CANCEL</button>
                  </div>
                  <div class="col-xs-6">
                    <button mat-button class="full-width" color="primary" (click)="createRating()">CREATE</button>
                  </div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </ng-template>
      <ng-template [ngIf]="ratings">
        <mat-card *ngFor="let rating of ratings | async" class="slide-in comment-card">
          <mat-card-content>
            <div class="row">
              <div class="col-xs-1 center-content-horizontally"><div class="profile-image-icon primary-background center-content-horizontally center-content-vertically">{{ rating.item.user.username[0].toUpperCase() }}</div></div>
              <div class="col-xs-11">
                <div class="row">
                  <div class="col-xs-12">
                    <div class="row middle-xs username-row">
                      <div class="col-xs-8"><h2>{{ rating.item.user.username }}</h2></div>
                      <div class="col-xs-4"><app-star-rating class="pull-right" [rating]="rating.item.rating"></app-star-rating></div></div>
                    </div>
                  <div class="col-xs-12"><p>{{ rating.item.comment }}</p></div>
                </div>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </ng-template>
    </div>
  </div>
</div>


