<div class="waypoints-container">
  <mat-card *ngFor="let wp of route.item.waypoints; let i = index" class="md-elevation-z10 waypoint-card slide-in-left" (click)="centerOn(i)">
    <button mat-icon-button class="clear_button" *ngIf="!readonly" (click)="deleteWaypointAt(i)"><mat-icon>clear</mat-icon></button>
    <mat-card-content>
      <div class="waypoint-identifier primary-background center-content-horizontally center-content-vertically">{{ getCharEnum(i) }}</div>
      <mat-form-field class="waypoint-name">
        <input matInput [(ngModel)]="wp.name" [readonly]="readonly">
      </mat-form-field>
    </mat-card-content>
  </mat-card>
</div>
<app-map [route]="route.item" [readonly]="readonly" (showPoi)="toggleMetaUI($event)"></app-map>

<div class="map-options slide-in-right" *ngIf="!markerMode">
  <button mat-fab matTooltip="Eigener Standort" (click)="centerOnUserPos()"><mat-icon>my_location</mat-icon></button>
  <button mat-fab matTooltip="Add Point of Interest" (click)="enablePOIAdder()"><mat-icon>add_location</mat-icon></button>
  <button mat-fab matTooltip="Zeige Informationen" (click)="toggleMetaUI([route.item, readonly, route.reference])"><mat-icon>description</mat-icon></button>
  <button *ngIf="readonly && ownsRoute && mapComp.mapLoaded" mat-fab matTooltip="Bearbeiten" (click)="readonly = false"><mat-icon>mode_edit</mat-icon></button>
  <button *ngIf="!readonly && mapComp.mapLoaded && (ownsRoute || !route.item.userSignature)" mat-fab (click)="saveRoute()" matTooltip="Speichern"><mat-icon>done</mat-icon></button>
  <!-- <a *ngIf="readonly" matTooltip="Bearbeiten" href="routes/{{route.id}}/edit"><button mat-fab><mat-icon>mode_edit</mat-icon></button></a>
  <button *ngIf="!readonly" mat-fab matTooltip="Speichern" (click)="saveRoute()"><mat-icon>done</mat-icon></button> -->
</div>

<div class="map-options slide-in-right" *ngIf="markerMode">
  <button mat-fab matTooltip="Eigener Standort" (click)="centerOnUserPos()"><mat-icon>my_location</mat-icon></button>
  <button mat-fab matTooltip="Abbrechen" (click)="disablePOIAdder()"><mat-icon>location_off</mat-icon></button>
  <!-- <a *ngIf="readonly" matTooltip="Bearbeiten" href="routes/{{route.id}}/edit"><button mat-fab><mat-icon>mode_edit</mat-icon></button></a>
  <button *ngIf="!readonly" mat-fab matTooltip="Speichern" (click)="saveRoute()"><mat-icon>done</mat-icon></button> -->

</div>
