.waypoints {
  width: 17em;
  max-height: calc(100vh - 154px);
  display: inline;
  position: absolute;
  top: 60px;
  left: 25px;
  z-index: 2;
  overflow: hidden;
}

.waypoints_viewport {
  overflow-y: scroll;
  max-height: calc(100vh - 154px);
  width: 19em;
  overflow-x: hidden;
}

.waypoints_viewport .mat-card {
  height: 50px;
  margin-bottom: 10px;
  padding: 4px;
  display: inline-block;
}

.map-options {
  position: absolute;
  right: 25px;
  bottom: 25px;
  text-align: right;
}
