<div>
  <div class="hi-kingz-sidebar">
    <mat-form-field>
      <input matInput placeholder="Name der Route" [(ngModel)]="route.name" [readonly]="readonly"/>
      <br/>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Schwierigkeitsgrad" [(ngModel)]="route.difficulty" onselect="closeSelect()" [disabled]="readonly">
        <mat-option [value]="1" onselect="closeSelect()">EZ PZ</mat-option>
        <mat-option [value]="2">Einfach</mat-option>
        <mat-option [value]="3">Angemessen</mat-option>
        <mat-option [value]="4">Hart wie Schotter</mat-option>
        <mat-option [value]="5">Pilgerfahrt zur Hölle</mat-option>
      </mat-select>
    </mat-form-field>
    <br/>
    <mat-form-field>
      <textarea matInput placeholder="Beschreibung der Route" [(ngModel)]="route.description" [readonly]="readonly"></textarea>
      <br/>
    </mat-form-field>
    <br/>
      <mat-slide-toggle [(ngModel)]="route.isPublic" (change)="changePrivacy()" [disabled]="readonly">{{route_public_label}}</mat-slide-toggle>
    <br/>

    <div>
      <h4>Wegpunkte:</h4>
      <div matInput *ngFor="let wp of route.waypoints; let i = index">
        <input [(ngModel)]="wp.name" [readonly]="readonly"><button mat-mini-fab (click)="centerOn(i)">Center</button>
      </div>
    </div>


    <button *ngIf="!readonly" mat-button value="Route speichern" (click)="saveRoute()" [disabled]="readonly">Route speichern</button>
  </div>
</div>

<app-map [route]="route" [readonly]="readonly"></app-map>

