#map {
  height: 100%;
}

.waypoints {
  width: 17em;
  max-height: calc(100vh - 154px);
  display: inline;
  position: absolute;
  top: 60px;
  left: 25px;
  z-index: 2;
  overflow: hidden;
}

.waypoints_viewport {
  overflow-y: scroll;
  max-height: calc(100vh - 154px);
  width: 19em;
  overflow-x: hidden;
}

.waypoints_viewport .mat-card {
  height: 50px;
  margin-bottom: 10px;
  padding: 4px;
  display: inline-block;
  width: 15em;
}

.waypoints_viewport .mat-card mat-form-field {
  width: 100%;
}

.clear_button {
  width: 24px !important;
  height: 24px !important;
  top: 5px;
  right: 3px;
  position: absolute !important;
  line-height: 20px !important;
}

.clear_button .mat-button-wrapper {
  line-height: 20px !important;
  top: 0px !important;
  position: absolute;
  right: 0px;
}

.map-options {
  position: absolute;
  right: 15px;
  width: 275px;
  bottom: 25px;
  text-align: right;
}
