.marginBot {
  margin: auto auto 2%;
}

.marginTop {
  margin: 2% auto auto;
}

.image {
  margin: 12px 12px 12px 12px;
  height: 42px;
  width: 42px;
}

.defButton {
  margin-top: 2%;
  width: 100%;
}

div.mat-tab-body-content.ng-trigger.ng-trigger-translateTab {
  overflow: hidden !important;
}

div#mat-tab-label-0-0.mat-tab-label.mat-ripple.ng-star-inserted {
  width: 50%;
}

div#mat-tab-label-0-1.mat-tab-label.mat-ripple.ng-star-inserted {
  width: 50%;
}

div#mat-tab-label-1-1.mat-tab-label.mat-ripple.ng-star-inserted {
  width: 50%;
}

mat-form-field{
  width: 100%;
}


.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  padding: 0px;
  width: 100px;
  height: 100px;

  line-height: 150px;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}
