.marginBot {
  margin: auto auto 2%;
}

.marginTop {
  margin: 2% auto auto;
}

.image {
  margin: 12px 12px 12px 12px;
  height: 42px;
  width: 42px;
}

.defButton {
  margin-top: 2%;
  width: 100%;
}

div.mat-tab-body-content.ng-trigger.ng-trigger-translateTab {
  overflow: hidden !important;
}

div#mat-tab-label-0-0.mat-tab-label.mat-ripple.ng-star-inserted {
  width: 50%;
}

div#mat-tab-label-0-1.mat-tab-label.mat-ripple.ng-star-inserted {
  width: 50%;
}

div#mat-tab-label-1-1.mat-tab-label.mat-ripple.ng-star-inserted {
  width: 50%;
}

mat-form-field{
  width: 100%;
}
