<div>
  <button id="create-route-button" class="slide-in-right" mat-fab (click)="goToCreateRoute()"><mat-icon>add</mat-icon></button>
  <div class="container slide-in">
    <div id="search-box"></div>
    <mat-card class="spaced-item">
      <mat-card-content>
        <div class="search-settings-container">
          <div id="difficulty-slider"></div>
          <div id="rating-stars"></div>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="row">
      <div class="route-detail-card-container col-sm-6 slide-in" *ngFor="let route of instantSearchManager?.searchResults | async; trackBy: identifyRoute">
        <app-route-overview-card [route]="route"></app-route-overview-card>
      </div>
    </div>
    <div class="spaced-item load-more-container">
      <button mat-fab *ngIf="instantSearchManager?.gotMoreToLoad" (click)="instantSearchManager?.loadMore()" color="primary" matTooltip="Load more!" matTooltipPosition="below"><mat-icon>expand_more</mat-icon></button>
    </div>
  </div>
</div>
